body {
  width: 200px;
  padding: 1rem;
  background-color: whitesmoke;
}

.input-field {
  position: relative;
  border-bottom: 1px solid #c4321d;
  margin-bottom: 30px;
}

input {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: 0;
  font-size: 18px;
  color: #c4321d;
  background-color: transparent;
  text-align: left;
  border-radius: 0;
  outline: 0 none;
}

button {
  width: 100%;
  text-align: center;
  line-height: 2.5;
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
  background: #c4321d;
}

 button:active {
  transform: scale(0.95, 0.95);
}

#copy {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  cursor: pointer;
  opacity: 0.75;
}

#copy:before {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid #c4321d;
}

#copy:after {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  border-left: 1px solid #c4321d;
  border-top: 1px solid #c4321d;
  position: absolute;
  top: 4px;
  left: 4px;
}

#copy:active {
  transform: scale(0.75, 0.75);
}
